.admin-login {

  background-color: white;
  padding: 45px 50px 50px 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  border-radius: 3px;
  width: 450px;
  margin: 40px auto 0 auto;

  &__header {
    margin-top: -5px;
    margin-bottom: 35px;
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: 3px;
  }

  &__btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }

  &__input {
    border-radius: 2px;
    height: 43px;
    background-color: white;
    border: 1px solid #dcdcdc;
  }

}