
// Body
$body-bg: #f3f3f3;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #085ab3;
$primary-hover: #064a91;
$primary-light: #eaf4ff;

$grid-gutter-width: 20px;

$lightest-grey: #f3f3f3;
$lighter-grey: #ececec;
$light-grey: #e1e1e1;


$placeholder-color: #dfdfdf;
