
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #085ab3;
$primary-hover: #064a91;
$primary-light: #dfe9ff;

$light-border: #f3f3f3;

$light-grey: #ededed;
$lightest-grey: #f3f3f3;

$placeholder-color: #dfdfdf;
