.admin-login {

  background-color: white;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  border-radius: 3px;
  margin-top: 30px;

  &__header {
    margin-bottom: 35px;
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: 3px;
  }

  &__btn {
    width: 100%;
    height: 50px;
  }

  &__input {
    border-radius: 2px;
    height: 44px;
    background-color: white;
    border: 1px solid #dcdcdc;
  }

}