.article {

  margin-top: 20px;

  &__img {
    width: 100%;
  }

  &__body {
    background-color: white;
    padding: 0 120px 40px 120px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__title {
    padding: 40px 0 20px 0;
    font-weight: 700;
  }

  p span {
    font-size: 17px !important;
    color: #525252;
  }

}

.articles {

  &__item {
    position: relative;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 100%;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__container {
    padding: 20px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  &__category {

    font-weight: 400;
    letter-spacing: 1px;
    color: red;


  }


}