.articles {

  margin-top: 20px;

  &__item {
    position: relative;
    display: block;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    transition: 0.1s all ease-in-out;
  }

  &__item:hover {
    transform: scale(1.009);
    text-decoration: none;
    box-shadow: 0 3px 18px rgba(0,0,0,.15);
  }

  &__box-container {
    padding: 22px;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__container {
    padding: 20px;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  &__category {
    font-weight: 400;
    letter-spacing: 1px;
    color: red;
  }

  &__element {
    margin-bottom: 0;
    word-break: break-word;
  }

  &__element--bg-white {
    background-color: white;
  }

  &__element--bg-red {
    background-color: #f10000;
  }

  &__element--bg-green {
    background-color: green;
  }

  &__element--bg-blue {
    background-color: blue;
  }

  &__element--bg-purple {
    background-color: purple;
  }

  &__element--bg-black {
    background-color: #141414;
  }

  &__element--color-white {
    color: white;
  }

  &__element--color-grey {
    color: grey;
  }

  &__element--color-black {
    color: black;
  }

  &__element--color-red {
    color: #f10000;
  }

  &__element--font-size-xs {
    font-size: 1rem;
  }

  &__element--font-size-s {
    font-size: 1.5rem;
  }

  &__element--font-size-m {
    font-size: 2rem;
  }

  &__element--font-size-l {
    font-size: 3rem;
  }

  &__element--font-size-xl {
    font-size: 4rem;
  }

  &__element--font-weight-s {
    font-weight: 400;
  }

  &__element--font-weight-m {
    font-weight: 600;
  }

  &__element--font-weight-l {
    font-weight: 700;
  }

  &__element--image-height-s {}

  &__element--image-height-m {}

  &__element--image-height-l {}

  &__element--image-height-xl {}

}

.article {

  &__content {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__top {
    padding: 45px 120px;
  }

  &__bottom {
    padding: 45px 270px 45px 120px;
    border-top: 1px solid #e7e7e7;

    p span {
      font-size: 1.1rem !important;
      font-family: 'Open Sans', serif !important;
      font-weight: 400;
      line-height: 1.8em;
    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2em;
  }

  &__ingress {
    font-weight: 700;
    margin-top: 25px;
    font-size: 1.2rem;
    line-height: 2em;
    margin-bottom: 0;
  }

  &__author {
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 15px;
    color: #6c6c6c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__date {
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 15px;
    color: #6c6c6c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

}

.article-related {

  margin-top: 40px;

  &__heading {
    font-weight: 100;
    margin-bottom: 25px;
    font-size: 2.1rem;
    letter-spacing: 1px;
  }

  &__column {
    margin-bottom: 20px;
  }

  &__item {
    background-color: white;
    height: 100%;
    display: block;
    transition: 0.1s all ease-in-out;
    color: #2e2e2e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__item:hover {
    transform: scale(1.02);
    text-decoration: none;
    box-shadow: 0 2px 14px rgba(0,0,0,0.2);
    color: black;
  }

  &__title {
    padding: 20px;
    font-weight: 400;
    margin-bottom: 0;
  }

}