.pagination {

  flex-wrap: wrap;

  .page-item a, .page-item span {
    border-radius: 4px !important;
    padding: 0.5rem 0.75rem;
    margin-bottom: 10px;
    margin-right: 10px;
    //border: 1px solid $light-grey;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .page-item:first-child a,
  .page-item:first-child span,
  .page-item:last-child a,
  .page-item:last-child span{
    font-size: 22px;
    line-height: 11px;
    height: 35px;
  }

  .page-item.disabled .page-link {

    opacity: 0.7;

  }

  .page-item.disabled:hover {

    cursor: not-allowed;

  }

}