.per-page {
  display: inline-block;

  &__text {
    width: 100%;
    margin-bottom: 2px;
  }
  &__btn {
    background-color: white;
    border: 1px solid $light-grey;
  }

  .dropdown-item:hover {
    cursor: pointer;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .per-page {
    display: flex;
    align-items: center;

    &__text {
      width: auto;
      margin-right: 10px;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }