.popup {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: none;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0,0,0,0.75);
    display: none;
  }

  &__main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 300;
    display: none;
    overflow: auto;
  }

  &__close-icon {
    position: absolute;
    right: 22px;
    top: 22px;
    z-index: 500;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    transition: 0.05s all;
  }

  &__close-icon:hover {
    color: red;
    transform: scale(1.2);
    cursor: pointer;
  }

  &__header {
    padding: 16px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .popup__close-icon {
      position: relative;
      right: auto;
      top: 0;
    }

  }
  &__header--danger {
    background-color: $color-danger;

    .popup__close-icon {
      color: white;
    }

    .popup__title {
      color: white;
    }
  }

  &__body {
    padding: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.15rem;
    margin-bottom: 0;
  }

  &__footer {
    padding: 20px 25px;
    display: flex;
    justify-content: flex-end;


    button {
      margin-left: 20px;
    }

  }


}

.popup--lg {
  .popup__main {
    top: 0;
  }
}

.popup--full {
  .popup__main {
    top: 0;
    bottom: 0;
    overflow: inherit;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


  .popup {

    &__main {
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      border-radius: 4px;
    }

  }

  .popup--lg {
    .popup__main {
      top: 10px;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .popup {

    &__header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &__main {
      top: 40px;
      right: auto;
      bottom: auto;
      width: 500px;
      left: calc(50% - 250px);
    }

  }

  .popup--lg {
    .popup__main {
      width: 748px;
      left: calc(50% - 374px);
      min-height: 400px;
    }
  }

  .popup--full {
    .popup__main {
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      width: auto;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .popup {

    &__main {
      top: 40px;
    }

  }

  .popup--lg {
    .popup__main {
      width: 972px;
      left: calc(50% - 486px);
      min-height: 350px;
    }
  }

  .popup--full {
    .popup__main {
      top: 60px;
      right: 60px;
      bottom: 60px;
      left: 60px;
      width: auto;
      height: auto;
    }
  }


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .popup {

    &__main {
      top: 40px;
    }

  }

  .popup--lg {
    .popup__main {
      width: 1160px;
      left: calc(50% - 580px);
      min-height: 400px;
    }
  }

  .popup--full {
    .popup__main {
      top: 60px;
      right: 60px;
      bottom: 60px;
      left: 60px;
      width: auto;
      height: auto;
    }
  }

}