.sidebar {
  background-color: white;
  position: absolute;
  top: 54px;
  width: 230px;
  left: -230px;
  border-right: 1px solid $lighter-grey;
  z-index: 100;
  min-height: calc(100vh - 54px);
}

.sidebar--active {
  left: 0;
}

.sidebar--transition {
  transition: 0.2s all ease-in-out;
}

.content {
  padding: 15px;
}

.content--extended {
  padding: 75px 20px 0 250px;
}

.content--transition {
  transition: 0.2s all ease-in-out;
}

.sidebar-user {

  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  &__img {
    height: 38px;
    width: 38px;
    margin-right: 12px;
    background-color: $placeholder-color;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

  &__name {
    font-weight: 600;
    display: inline-block;
  }

  &__container {
    display: block;
  }

  &__role {
    font-weight: 100;
    margin-top: -3px;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    display: block;
    color: black;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .content {
    padding: 79px 25px 0 255px;
  }

  .sidebar {
    left: 0;
    position: fixed;
    height: calc(100% - 54px);
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }






// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }