.search {
  margin-left: 20px;
  position: relative;
  width: 100%;
  display: none;


  &__input {
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 40px;
    padding: 12px;
    width: 100%;
    border: none;
  }

  &__btn {
    background-color: transparent;

    border: none;
    position: absolute;
    right: 9px;
    top: 7px;
  }

  &__btn:hover {
    cursor: pointer;
    transform: scale(1.15);
  }

  &__icon {
    color: $primary;
    font-size: 15px;
  }

}

.search-mobile {

  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px 20px;
  display: none;

  &__toggle {
    background-color: white;
    height: 38px;
    width: 38px;
    line-height: 36px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid  $light-grey;
    font-size: 16px;
  }

  &__input {
    background-color: #e6e6e6;
    border: 1px solid white;
    height: 36px;
    padding-left: 15px;
  }

  &__btn {
    background-color: $primary;
    color: white;
    border: none;
    height: 34px;
    width: 34px;
    margin-left: 10px;
    border-radius: 2px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .search {
    display: inline-block;
  width: auto;

    &__input {
    width: 220px;
    }

    &__btn {

    }

    &__icon {

    }

  }

  .search-mobile {

    &__toggle {
      display: none;
    }

  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }